<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script>
    var base_url = "{{protocol}}://{{domain}}:{{port}}";

    var people = [];

    var pos = 0;

    function load_question() {
      $("#mugshot").attr("src", people[pos].picture);
      // $("#name").prop('disabled', people[pos].answer_state == "answered");
      $("#name").val(people[pos].answer);
      if (people[pos].answer_state == "answered" ) {
        if ($("#name").val().trim().toLowerCase() == people[pos].name.toLowerCase()) {
          $("#result").text("Right!!");
        } else {
          $("#result").text("Wrong :(, it was: " + people[pos].name);
        }

      } else if (people[pos].answer_state == "checking" ) {
          $("#result").text("The right name is: " + people[pos].name);
          people[pos].answer_state = "";
      } else {
          $("#result").text("");
      }
    }

    function prev_question() {
      pos = Math.max(pos - 1, 0);
      load_question();
    }

    function next_question() {
      pos = Math.min(pos + 1, people.length - 1);
      load_question();
    }

    function check_question() {
      if ($("#name").val().trim() == "") {
        people[pos].answer_state = "checking";
      } else {
        people[pos].answer = $("#name").val().trim();
        people[pos].answer_state = "answered";
      }
      load_question();
    }

    function generate_person(received_person) {
      return {
        "picture": base_url + "/" + received_person.picture,
        "name": received_person.name,
        "answer": "",
        "answer_state": ""
      };
    }

    $( document ).ready(function() {
      $.get(base_url + "/people", function(data, status) {
        console.log(status);
        people = data.map(generate_person);
        load_question();
      });
    });

  </script>
  <title>Whosdat</title>
</head>
<body>

  <p>
    <img id="mugshot" src="">
  </p>
  <p>
      <label for="name">Name</label><br>
      <input type="text" id="name" name="name"><br>
  </p>
  <p id="result"></p>
  <p>
    <form>
      <button type="button" id="prev"  onclick="prev_question()" > prev  </button>
      <button type="button" id="check" onclick="check_question()"> check </button>
      <button type="button" id="next"  onclick="next_question()" > next  </button>
    </form>
  </p>

</body>
</html>
